.inputtitletext {
    font-size: 1.25em;
    font-weight: 700;
    color: white;    
}

.SmallText{   
    font-size: 1em;
    font-weight: 600;
    color: var(--colour_main_blue);
    margin: 0.1em;
}

.MedText {   
    font-size: 1.75em;
    font-weight: 700;
    color: var(--colour_main_blue);
    margin: 0.1em;
}

.BigText {    
    font-size: 2em;
    font-weight: 700;
    color: var(--colour_main_blue);
    margin: 0.1em;
}