@import './ColoursCustom.scss';

.BasicElementContainer {
    border-radius: 0.2em;
    box-shadow: inset 0 0 5px 1px var(--colour_main_grey);
    padding: 0.5em;
}

.GamePadding {
    padding: 1em;
}

.ForceHeight30 {
    max-height: calc(30vh);
    min-height: calc(30vh);
}

.ForceHeight50 {
    max-height: calc(50vh);
    min-height: calc(50vh);
}

.ForceHeight90 {
    max-height: calc(90vh);
    min-height: calc(90vh);
}

.TestWebBody {
    padding: 2em;
}

.TestWebComponentHolder {
    margin-top: 2em;
}

.TestButton {    
    width: 100%;
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    padding: 0.5em;

    border-radius: 0.2em;
    border-color: var(--colour_main_blue) !important; 
    border-style: solid;
    border-width: 2px; 
    
    background-color: #FFFFFF !important;
    box-shadow: 0 0 5px 1px var(--colour_sub_blue);
    &:hover {
        box-shadow: 0 0 10px 2px var(--colour_sub_blue);
        text-decoration: none;
    }
}

.OptionButton {    
    width: 100%;
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    padding: 0.5em;

    border-radius: 0.2em;
    border-color: var(--colour_main_blue) !important; 
    border-style: solid;
    border-width: 2px; 
    
    background-color: #FFFFFF !important;
    box-shadow: 0 0 2px 1px var(--colour_sub_blue);
    &:hover {
        box-shadow: 0 0 5px 2px var(--colour_sub_blue);
        text-decoration: none;
    }
}

.SubOptionButton {    
    width: 100%;
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;

    border-radius: 0.2em;
    border-color: var(--colour_main_blue) !important; 
    border-style: solid;
    border-width: 2px; 
    
    background-color: #FFFFFF !important;
    box-shadow: 0 0 2px 1px var(--colour_sub_blue);
    &:hover {
        box-shadow: 0 0 5px 2px var(--colour_sub_blue);
        text-decoration: none;
    }
}

.BorderlessButton {   
    width: 100%;
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    padding: 0.5em;

    border: none !important;
    background: none !important;
}

.BaseBorder {

    border-radius: 0.2em;
    border-color: var(--colour_main_blue) !important; 
    border-style: solid;
    border-width: 2px; 
    
    background-color: #FFFFFF !important;
    box-shadow: 0 0 2px 1px var(--colour_sub_blue);
    &:hover {
        box-shadow: 0 0 5px 2px var(--colour_sub_blue);
    }
}