.dropdown-toggle::after {
    display: none !important; 
  }

.dropdown-menu {
    max-height: calc(50vh);
    overflow-y: scroll;
}

.bluebackground {
  background-color: var(--colour_main_blue);
  padding-bottom: 0.5em;
}

.starpowerbackground {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.basebackground {
  background-color: var(--colour_text_bright);
  padding: 1rem;
  opacity: 100% !important;
}

.overcomeTooltip {
  opacity: 1 !important;
  --bs-tooltip-bg: none !important;
}