.inputtitletext {
    font-size: 1.25em;
    font-weight: 700;
    color: white;    
}

.SmallText{   
    font-size: 1em;
    font-weight: 600;
    color: var(--colour_main_blue);
    margin: 0.1em;
}

.MedText {   
    font-size: 1.75em;
    font-weight: 700;
    color: var(--colour_main_blue);
    margin: 0.1em;
}

.MedTextWhite {   
    font-size: 1.75em;
    font-weight: 700;
    color: var(--colour_text_bright);
    margin: 0.1em;
}

.BigText {    
    font-size: 2em;
    font-weight: 700;
    color: var(--colour_main_blue);
    margin: 0.1em;
}

.LargeIcon {  
    font-size: 2em;
    font-weight: 800;
    color: var(--colour_main_blue);
}

  
  .wobbly-animation {
    animation: wobble 1.5s infinite;
  }
  
  @keyframes wobble {
    0% {
      filter: url(#wobble1);
    }
    10% {
      filter: url(#wobble2);
    }
    20% {
      filter: url(#wobble3);
    }
    30% {
      filter: url(#wobble4);
    }
    40% {
      filter: url(#wobble2);
    }
    50% {
      filter: url(#wobble1);
    }
    60% {
      filter: url(#wobble4);
    }
    70% {
      filter: url(#wobble3);
    }
    80% {
      filter: url(#wobble2);
    }
    90% {
      filter: url(#wobble5);
    }
    100% {
      filter: url(#wobble1);
    }
  }
  