.inputbody {
    border-width: 3px;
    border-color: var(--colour_main_blue);
}

.inputhead {
    border-width: 3px;
    border-color: var(--colour_main_blue);
    background-color: var(--colour_main_blue);
}