:root {
    --colour_main_grey: #666666;
    --colour_main_blue: #5555DD;
    --colour_sub_blue: #b7b7fa;
    --colour_sub_sub_blue: #d2d2fc;

    --colour_main_starpower: #f1d42d;
    --colour_sub_starpower: #fce4a1;

    --colour_text_bright: #ffffff;
}  
